body, html {
    height: 100%;
    background-color: rgba(230, 193, 28, 0.856);
  }
  .jumbotron {
    background-image: url("../Assets/HOME.jpg"); 
    
  
   
  }
  .jumbotronClouds  {
    background-image: url("../Assets/clouds2.jpg"); 
    padding:40px;
    
  }
  .jumbotronClear {
    background-image: url("../Assets/clear.jpg"); 
   
  }
